/hack
/Makefile.docker
**/*.o
**/*.a
**/*.so
**/*.so.*
**/*.ll
**/*.ll-*
**/_obj
**/_test
build/
_build/
**/*.cgo1.go
**/*.cgo2.c
**/_cgo_defun.c
**/_cgo_gotypes.go
**/_cgo_export.*
**/_testmain.go
**/*.exe
**/*.test
**/*.prof
**/*.swn
**/*.swp
**/.vagrant
**/vagrant.kubeconfig
**/coverage.out
**/coverage-all.out
**/coverage-all.html
**/coverage-all-tmp.out
**/.DS_Store
.idea/
.vscode/
**/*.plist
**/*_bash_completion
**/*.swo
**/outgoing
**/*cscope.files
**/*cscope.out
**/*cscope.in.out
**/*cscope.po.out
**/*tags
**/.gdb_history
man/
test/*_manifest.yaml
test/*.xml
test/*.json
test/*.log
test/bpf/_results
test/*tmp
test/runtime/test_results/
**/*~
**/*.ok
**/*.build_all
**/LICENSE.all
**/.buildx
**/.buildx_builder
**/.devvmrc
images/*/Dockerfile.dockerignore
bpf/cc/libbpf/docs/sphinx/build
bpf/cc/libbpf/docs/sphinx/doxygen/build
bpf/cc/libbpf/src/**/*.o
bpf/cc/libbpf/src/**/*.a
bpf/cc/libbpf/src//libbpf.pc
bpf/cc/libbpf/src//libbpf.so*
bpf/cc/libbpf/src//staticobjs
bpf/cc/libbpf/src//sharedobjs
